html,
body {
    background-color: lightblue;
    font-family: Arial;
    width: 100%;
}

div {
    padding: 24px;
}

.welcome {
    font-family: system-ui;
    background: #CBC3E3;
    color: white;
    text-align: center;
}

.place-img {
    height: 40%;
    width: 40%;
}

h1 {
    color: green;
}