html, body {
    background-color: #c2e3f2;
    font-family: Arial;
    width: 100%;
  }
  
  div {
    padding: 24px;
  }
  
  .welcome {
    font-family: system-ui;
    background: #9aadbc;
    color: white;
    text-align: center;
  }
  
  .place-img {
    height: 40%;
    width: 40%;
  }
  h1{
    color: #c2665b;
  }